<div class="home-banner">	
	<div class="container" align="center">
    <div class="card col-8">
      <br>
      <br>
      <h1>Nossa História</h1>
        <br>
      <p>
        Nos conhecemos no final de 2012, mas em 2013 deu inicio a nossa história,
        acreditamos que em tudo há um propósito e nossa amizade assim se perpetuou numa LONGA história de amor rs,
        aos amigos que e familiares que nos acompanham desde então sabe que não é de hoje que estamos juntos.
          <br>
          <br>
        Demos inicio na nossa relação de fato em 16/06/2014,
        mas a nossa imaturidade fez com que nos separássemos no final de 2015 encerrando qualquer contato que seja.
        <br>
        <br>
        Desde então seguimos por caminhos distantes e distintos,
        criamos círculos na busca incansável de refazermos nossa vida sentimental,
        coisa que não deu muito certo para ambos.
        <br>
        <br>
        Foi então que em outubro de 2019 voltamos a nos falar,
        e em 24 de Novembro de 2020 retomamos nosso relacionamento,
        neste dia o Herbert disse ao meu pai, "Não aceito menos que o altar com sua filha"
        <br>
        <br>
        Noivamos dia 10/07/2020,
        foi o pedido mais lindo!!! Com direito a anel de noivado,
        lágrimas de alegria, muita emoção,
        e acima de tudo, MUITO AMOR ❤
        <br>
        <br>
        E aqui estamos nós e vocês,
        testemunhando desse grande amor e dessa longa história.
        <br>
        <br>
        <br>
        E iremos casar dia 10/07/2021... Temos certeza que também será um dia muito especial,
        regado de amor e principalmente a benção de Deus e de nossos pais!
        <br>
        <br>
        Dia 10/07 foi marcado por Deus, e será maravilhoso.
        <br>
        <br>
        <br>
        Obs: Fizemos a proeza de apagar nossas primeiras fotos juntos,
        e restaram apenas algumas rsrs.
        <br>
        <br>
        Hoje em dia temos várias,
        mas colocamos apenas algumas,
        <br>
        <br>
        afinal já é notório a nossa evolução de 2013 até aqui. rsrs
        <br>
        <br>
        Nos encontramos em breve, até lá e um grande beijo.
      </p>
    </div>
	</div>
</div>