.home-banner {
  background-image: url();
  background-size: cover;
  height: 100vh;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 15vh;
}

.d-block {
  height: 300px;
  width: 700px;
  border-radius: 10px;
}