h1 {
  color: red;
  opacity: none;
}

.card {
  font-family: roboto;
  border-radius: 10px;
  background: rgb(189, 174, 174);
  
}
.card-home {
  border-radius: 10px;
  background-color: gray;
  opacity: 0.5;
}
